@model HomeModel

<style>
    .inputDetails {
        padding-top: 20px;
    }
    
    .songName {
        padding: 5px 20px 5px 10px;
        margin: 0;
    }

    table.playlist {
        width: 600px;
    }

    th, td {
        valign: middle;
        width: 50%;
    }

    .songName {
        
    }

    .songCount {
        text-align: center;
    }
    
</style>

<div class="inputDetails">
@{
    using (Html.BeginForm("Post", "Home", FormMethod.Post))
    {
        <label>
            Artist Name: 
            @Html.TextBoxFor(m => m.ArtistName)
        </label>

        <label>
            Number of concerts: 
            @Html.TextBoxFor(m => m.ConcertCount)
        </label>
        <input type="submit" value="Go" />
    }
}
</div>
@if (Model.Songs != null) {
    <br />
    <hr />  
    <div class="outputDetails">
        <p>
            Here's a playlist of songs @Model.ArtistName might play, based on the last @Model.ConcertCount concerts:
        </p>

        <table class="playlist table-striped">
            <tr>
                <th class="songName">Song Name</th>
                <th class="songCount">Times Played</th>
            </tr>
            
            @foreach (var song in Model.Songs) {
            
            <tr>
                <td class="songName">@song.Name</td>
                <td class="songCount">@(song.DuplicateCount + 1) / @Model.ConcertCount</td>
            </tr>
            
            }
        </table>
    </div>
}